header {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
    margin-bottom: 0;
}

.question-number, .score {
    position: absolute;
}

.question-number {
    left: 25%;
}

.score {
    left: 55%;
}

.js-quiz-form {
    margin-top: 75px;
    background-color: lightgrey;
    padding: 15px;
}

fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
}

/*
    Displays the radio input and its label on the same line
*/
/*.js-quiz-form input[type="radio"], .js-quiz-form input[type="radio"]+label {
    display: inline-block;
}*/

.js-quiz-form button[type="submit"] {
    display: block;
}