header {
    position: relative;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

header h1 {
    text-align: center;
    margin-bottom: 0;
}

.question-number, .score {
    position: absolute;
}

.question-number {
    left: 25%;
}

.score {
    left: 55%;
}

.js-quiz-form {
    position: relative;
    margin-top: 75px;
    background-color: lightgrey;
    padding: 15px;
}

legend {
    margin-bottom: 10px;
}

fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
}

/*
    Displays the radio input and its label on the same line
*/
/*.js-quiz-form input[type="radio"], .js-quiz-form input[type="radio"]+label {
    display: inline-block;
}*/

.last-answer {
    display: inline-block;
    margin-bottom: 20px;
}

.js-quiz-form button[type="submit"] {
    display: block;
}

.correct-answer, .wrong-answer {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: white;
}

.correct-answer {
    width: 75px;
}

.wrong-answer {
    width: 300px;
}

.correct-answer p, .wrong-answer p {
    margin: 0;
}

.correct-answer p {
    color: green;
}

.wrong-answer p {
    color: red;
}

.js-next-button {
    position: absolute;
    bottom: 10px;
    right: 50px;
}